{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ newEntry }}
{% endblock %}

{% block body %}
<style>
    .textarea { 
        resize: none;
        height: 15vh;
        width: 50vh;

    }
</style>
<h2>Creating a new page</h2>
{% csrf_token %}
    <form action="{% url 'saveNewPage' %}" method="POST">
        <input type="text" name="newEntryTitle">
            <textarea name="md" rows="1" cols="20"></textarea>
                <input type="submit"></input>
                    

       
        
    </form>



{% endblock %}